<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Spring Boot + Spring Security + WebJars (SB Admin 2 - Bootstrap Admin Theme)</title>

    <!-- Bootstrap Core CSS -->
    <link href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/bootstrap.min.css" rel="stylesheet" />

    <!-- MetisMenu CSS -->
    <link href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/sb-admin-2.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="/webjars/startbootstrap-sb-admin-2/1.0.2/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="container">
    <h1>Courses</h1>
    <p>Spring Boot</p>
    <form class="form-signin" method="get" action="/logout">
        <button class="btn btn-primary btn-block" type="submit">Logout</button>
    </form>
</div>

    <!-- jQuery -->
    <script src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/sb-admin-2.js"></script>

</body>

</html>